<div>
  	<div class="note-header ui-widget-header">
	   	<div class="note-header-buttons">
	   		<div class="hoverable ui-state-default ui-corner-all">
	   			<a class="delete-note ui-icon ui-icon-trash">X</a>
	   		</div>
	   		<div class="hoverable ui-state-default ui-corner-all">
	   			<span class="ui-icon ui-icon-arrow-4-diag">X</span>
	   		</div>
	   	</div>
	   	<div class="note-header-content">
			<input id="title-{{note._id}}" name="title" type="text" class="editable" value="{{note.title.length > 0? note.title:note._id}}"></input>
		</div>
	 		
	</div>
  	<div class="note-body">
  		<div style="height:{{note.height > 35?note.height - 35:note.height}}px">
	 		<noteitem ng-repeat="item in note.items"/>
 			<textarea name="notetext" id="note-line-{{note._id}}" class="editable" note-id="{{note._id}}" item-id="0" rows="1">Enter</textarea>
 		</div>  		
 	</div>
 </div>