.border() {
  border: solid black 1px;
}
.note {
  //.border();
  font-family: "comic sans";
  position:absolute;
  .note-header {
    //.border();
    margin: 0;
    text-align: center;
    //height: 35px;
    width: 100%;
  }
  .note-body {
    width: 100%;    
  }
  min-width: 180px;
  min-height: 180px;
  padding: 0.5em;
}