.border() {
  border: solid black 1px;
}
.notes-menu {
	.menu-button {
		float:right;
	}
}
.note {
  font-family: "comic sans";
  position:absolute;
  .note-header {
    margin: 0;
    text-align: center;
    & textarea {
      height:20px;
      border: none;      
    }
    .note-header-buttons {
      float:right;
      
      div {
      }      
    }
  }
  .note-body {
    width: 100%;
    & > div {
      overflow: auto;
    }
    & textarea {
      width: 90%;
      border:none;
    }
    height: 100%;
  }
  
  min-width: 180px;
  min-height: 180px;
  padding: 0.5em;
}