@(message: String)(notes: List[Note])(dynamicForm:DynamicForm)
@import models._

@main("Cloud Notes!") {
	<div class="notes-menu">
		<div class="hoverable menu-button ui-state-default ui-corner-all">
			<a href="@routes.NoteController.create()" class="ui-icon ui-icon-circle-plus" id="button">+</a>
		</div>
	</div>
	<div>
    @message
    </div>
    
    @for(note <- notes){
    	@views.html.note.index(note)
    }
    
    <form id="noteposition" action="@routes.NoteController.saveposition()" method="POST">
    	<input id="notepositionid" name="id" type="hidden"/>
    	<input id="notepositiontop" name="top" type="hidden"/>
    	<input id="notepositionleft" name="left" type="hidden"/>
    </form>
    <form id="notedimension" action="@routes.NoteController.savedimension()" method="POST">
    	<input id="notedimensionid" name="id" type="hidden"/>
    	<input id="notedimensionheight" name="height" type="hidden"/>
    	<input id="notedimensionwidth" name="width" type="hidden"/>
    </form>
}