@(message: String)(notes: List[Note])(dynamicForm:DynamicForm)
@import models._

@main("Welcome to Play") {
	<a href="@routes.NoteController.create()" id="button">Add a note</a>
	<div>
    @message
    </div>
    
    @for(note <- notes){
    	@views.html.note.index(note)
    }
    <!--
    <div class="note ui-widget-content" style="width:180px;height:180px;position:absolute;z-index:1">
    	<div class="note-header ui-widget-header">Header</div>
    	<div class="note-body">
    		<div id="note1" class="editable">content</div>
    	</div>
    </div>
    
    <div class="note ui-widget-content" style="width:180px;height:180px;position:absolute;z-index:2">
    	<div class="note-header ui-widget-header">Header</div>
    	<div class="note-body">
			<div id="note2" class="editable">content</div>
		</div>
    </div>
    -->
    <div class="editable" id="editable">text</div>
    
    <form id="noteposition" action="@routes.NoteController.saveposition()" method="POST">
    	<input id="notepositionid" name="id" type="hidden"/>
    	<input id="notepositiontop" name="top" type="hidden"/>
    	<input id="notepositionleft" name="left" type="hidden"/>
    </form>
    <form id="notedimension" action="@routes.NoteController.savedimension()" method="POST">
    	<input id="notedimensionid" name="id" type="hidden"/>
    	<input id="notedimensionheight" name="height" type="hidden"/>
    	<input id="notedimensionwidth" name="width" type="hidden"/>
    </form>
}